#returnArea {
  height: 42px;
  background-color: #ededed;
  line-height: 42px;
  text-align: center;
  position: fixed;
  width: 100%;
}
#returnArea span {
  float: left;
  width: 30px;
  height: 100%;
}
#returnArea p {
  display: inline-block;
}
