div .searchBox1 {
  display: inline-block;
  height: 29px;
  background-color: #f4f4f4;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}
div .searchBox1 img {
  width: 16px;
  height: 16px;
}
div .searchBox1 input {
  padding-left: 9px;
  background-color: #f4f4f4;
}
